<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Cua hang Hoa Dep</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
          <div class="card mt-4">
            <div class="card-header bg-danger">
              <% if(httpStatusCode) { %> 
                <h1 class="mb-0 text-light"><%= httpStatusCode %></h1>
              <% } %> 
            </div>
            <div class="card-body">
              <% if(errorMessage) { %> 
                <h5 class="card-text"><%= errorMessage %><h2>
              <% } %> 
              <a href="/" class="btn btn-primary">Về trang chủ</a>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </body>
</html>